---
import { type CollectionEntry, getCollection } from "astro:content";
import type { ButtonProps } from "@/components/primitives/Button.astro";
import Link from "@/components/primitives/Link.astro";
import BlogPreview from "@/components/sections/BlogPreview.astro";

const currentLocale = Astro.currentLocale;

const posts = await getCollection("posts");

const recentPosts = posts
	.map((post) => {
		const [lang, ...slug] = post.slug.split("/");
		return {
			...post,
			lang: lang,
			slug: post.slug.startsWith("/") ? post.slug : `/${post.slug}`,
		};
	})
	.filter((post) => post.lang === currentLocale)
	.sort(
		(a, b) =>
			a.data.lastUpdateDate.getTime() - b.data.lastUpdateDate.getTime(),
	)
	.slice(0, 4) as CollectionEntry<"posts">[];

interface Props {
	pretitle?: string;
	title: string;
	buttons?: ButtonProps[];
}

const { pretitle, title, buttons } = Astro.props;
---

<div class="text-sm font-medium pt-20 pb-32">
	<div
		class="items-center justify-center flex flex-col"
	>
		{pretitle && (
			<span class="font-sans text-[20px] tracking-[0.2em] uppercase block mb-3">{pretitle}</span>
		)}
		<h2 class="text-[3.13rem] leading-none font-semibold my-1">{title}</h2>
	</div>
	<div class="mt-16">
		<div
			class="blog-latest-grid gap-x-[1.88rem] auto-cols-fr grid-cols-1 lg:grid-cols-3 grid-rows-[auto] gap-y-10 grid"
		>
			{recentPosts.map((post) => <BlogPreview {post} />)}
		</div>
	</div>
	{buttons && buttons.length > 0 && (
		<div class="items-center flex-col text-sm font-medium flex text-white pt-16">
			{buttons.map(({ title, href, style, icon }) => (
				<Link
					href={href}
					style={style as "primary" | "button" | "outline" | "buttonLight"}
					icon={icon}
				>
					{title}
				</Link>
			))}
		</div>
	)}
</div>

<style>
	.blog-latest-grid :global(.blog-date) {
		font-size: 12px;
	}
	.blog-latest-grid :global(.mt-5:has(.blog-date)) {
		margin-top: 0;
	}
</style>
