---
import type { ButtonProps } from "@/components/primitives/Button.astro";
import Container from "@/components/primitives/Container.astro";
import Link from "@/components/primitives/Link.astro";
import Blob from "@/components/sections/Blob.astro";

interface Props {
	label?: string;
	title: string;
	subtitle: string;
	buttons?: ButtonProps[];
}

const defaultButtons: ButtonProps[] = [
	{
		title: "Contattaci",
		href: "/contact",
		style: "button",
		icon: "iconamoon:arrow-top-right-1-thin",
	},
];

const { label, title, subtitle, buttons = defaultButtons } = Astro.props;
---

<div
	id="hero"
	class="items-center text-sm font-medium justify-center pb-[60px] lg:px-20 pt-0 relative flex min-h-[100svh]"
>
	<Container>
		<div class="items-center flex-col w-full m-auto">
			<div
				class="items-center auto-cols-fr grid-cols-1 lg:grid-cols-2 grid-rows-[auto] grid gap-[3.13rem]"
			>
				<div
					class="items-start flex-col justify-start flex gap-2 row-start-1"
				>
					{label && (
						<span
							data-hero-reveal
							class="font-sans text-[20px] tracking-[0.2em] uppercase block"
						>{label}</span>
					)}
					<h1
						data-hero-reveal
						class="text-4xl md:text-7xl leading-tight my-3 mx-0"
						set:html={title}
					/>
					<div class="lg:mt-[20px]">
						<div>
							<p
								data-hero-reveal
								class="text-3xl font-semibold mb-3"
								set:html={subtitle}
							/>
							<div class="mt-10 text-white">
								{
									buttons.map(
										({ title, href, style, icon }) => (
											<Link
												data-hero-reveal
												href={href}
												style={
													style as
														| "primary"
														| "button"
														| "outline"
														| "buttonLight"
												}
												icon={icon}
											>
												{title}
											</Link>
										),
									)
								}
							</div>
						</div>
					</div>
				</div>
				<div class="justify-self-center col-span-1 row-span-1">
					<Blob class="xl:pl-32" />
				</div>
			</div>
		</div>
	</Container>
</div>

<style>
	[data-hero-reveal] {
		opacity: 0;
		filter: blur(3px);
	}
</style>

<script>
	import { gsap } from "gsap";
	import { BlurPlugin } from "@/utils/gsap-blur";
	import { LifecycleManager } from "@/utils/lifecycle-manager";

	gsap.registerPlugin(BlurPlugin);

	const lm = new LifecycleManager();

	lm.onElementLoaded("hero", (ctx) => {
		ctx?.add(() => {
			gsap.to("[data-hero-reveal]", {
				blur: 0,
				duration: 1,
				opacity: 1,
			});
		});
	});
</script>
