---
import { type CollectionEntry, getCollection } from "astro:content";
import type { ButtonProps } from "@/components/primitives/Button.astro";
import Link from "@/components/primitives/Link.astro";
import WorkPreview from "@/components/sections/WorkPreview.astro";

const currentLocale = Astro.currentLocale;

const works = await getCollection("work");

const visibleWorks = works
	.map((work) => {
		return {
			...work,
			slug: work.slug.startsWith("/") ? work.slug : `/${work.slug}`,
		};
	})
	.filter((work) => !work.data.hidden)
	.sort(
		(a, b) =>
			b.data.lastUpdateDate.getTime() - a.data.lastUpdateDate.getTime(),
	);

const featuredWorks = visibleWorks.filter((work) => work.data.featured);
const recentWorks = (featuredWorks.length > 0 ? featuredWorks : visibleWorks)
	.slice(0, 3) as CollectionEntry<"works">[];

interface Props {
	pretitle?: string;
	title: string;
	buttons: ButtonProps[];
}

const { pretitle, title, buttons } = Astro.props as Props;
---

<div class="items-center text-sm font-medium justify-center flex flex-col pt-20 pb-16">
	{pretitle && (
		<span class="font-sans text-[20px] tracking-[0.2em] uppercase block mb-3">{pretitle}</span>
	)}
	<h2 class="text-[3.13rem] leading-none font-semibold my-1">{title}</h2>
</div>

<div
	class="text-sm font-medium auto-cols-fr grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 grid-rows-[auto_auto] grid gap-[1.25rem]"
>
	{recentWorks.map((work) => <WorkPreview {work} />)}
</div>
<div
	class="items-center flex-col text-sm font-medium flex text-white pt-16 pb-20"
>
	{
		buttons.map(({ title, href, style, icon }) => (
			<Link
				href={href}
				style={
					style as "primary" | "button" | "outline" | "buttonLight"
				}
				icon={icon}
			>
				{title}
			</Link>
		))
	}
</div>
