---
import Link from "@/components/primitives/Link.astro";
import { Icon } from "astro-icon/components";

interface Props {
	title: string;
	results: {
		label: string;
		value: string;
	}[];
	buttonText?: string;
	buttonHref?: string;
}

const { title, results, buttonText, buttonHref } = Astro.props;
---

<div class="results-section">
	<p
		class="results-heading"
		set:html={title}
	/>
	<div class="mt-8">
		<div
			class="auto-cols-fr grid-cols-1 lg:grid-cols-3 grid-rows-[auto] grid gap-[1.88rem]"
		>
			{
				results?.map(({ label, value }) => (
					<div class="items-center flex-col text-center flex">
						<h2 class="text-outline text-[60px] leading-none font-semibold inline-block">
							{value}
						</h2>
						<div class="text-lg py-5 px-3.5 inline-block w-full -mt-3">
							{label}
						</div>
					</div>
				))
			}
		</div>
		{
			buttonText && buttonHref && (
				<div class="flex justify-center mt-4">
					<Link
						href={buttonHref}
						size="md"
						style="outline"
						class="results-button flex justify-center gap-3"
					>
						<Icon size={23} name="ic:sharp-vertical-align-bottom" />
						<span>{buttonText}</span>
					</Link>
				</div>
			)
		}
	</div>
</div>

<style>
	.results-section {
		margin-bottom: 4rem;
	}

	.results-heading {
		font-size: 30px !important;
		font-weight: 600 !important;
		color: rgba(0, 0, 0, 0.4) !important;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 0.05em;
	}

	.text-outline {
		color: rgba(0, 0, 0, 0);
		-webkit-text-stroke-width: 2px;
		-webkit-text-stroke-color: black;
	}

	.results-button {
		color: rgb(63, 63, 63) !important;
		text-decoration: none !important;
	}

	.results-button :global(svg) {
		color: rgb(63, 63, 63) !important;
	}
</style>
